body {
  background-color: #FBF9FF;
}

a {
  color: black;
  text-decoration: none;
}

h1, h2 {
  font-family: 'Gaegu', cursive;
  text-align: center;
}

h1 {
  text-decoration: underline;
  font-size: 36px;
}

button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  font-family: 'Gaegu', cursive;
  font-size: 24px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 5px;
}

.game-container {
  display: flex;
  position: relative;
  flex-direction: column;
}

.game-grid {
  display: flex;
  height: 25vw;
  width: 25vw;
  align-self: center;
  position: relative;
  flex-direction: column;
}

.grid {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 50vh;
  max-height: 50vh;
}

.row {
  display: flex;
  flex: 1;
}

.field {
  flex: 1;
  border: 2px solid black;

}

.player1 {
  background-image: url('hamster.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%
}

.player2 {
  background-image: url('rabbit.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%
}